<div class="centered-layout">
  <div class="question">
    <h2 [innerHTML]="question"></h2>
  </div>

  <div class="answer-options">
    <button
      mat-raised-button
      color="primary"
      (click)="selectAnswer(0)"
      class="button-with-margin"
      [ngClass]="{'selected': selectedAnswers.includes(0)}"
    >
      {{ answerA }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="selectAnswer(1)"
      class="button-with-margin"
      [ngClass]="{'selected': selectedAnswers.includes(1)}"
    >
      {{ answerB }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="selectAnswer(2)"
      class="button-with-margin"
      [ngClass]="{'selected': selectedAnswers.includes(2)}"
    >
      {{ answerC }}
    </button>
  </div>

  <div class="bottom-buttons" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="nextQuestion()" class="button-with-margin">Next</button>
    <button mat-raised-button color="warn" (click)="skipQuestion()">Skip</button>
  </div>
</div>
